

.productSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: Raleway;
    font-style: normal;
    font-size: 18px;
    line-height: 160%;
    color: #1D1F22;  
}

.productImage {
    margin: auto;
    display: block;
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
}

.productPrice {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%; 
    text-align: left;
    color: #1D1F22;
}

.productName{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 300;  
    color: #1D1F22;
}

.categoryName{
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 42px;
line-height: 160%;
/* identical to box height, or 67px */
color: #1D1F22;

}

.categoryPage{
    padding-left: 41px;
    padding-right: 41px;
    margin-bottom: 40px;
}

.productFrame__icon {
    background-color: #5ECE7B;
    color: white;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 5px;
    position: relative;
    left: 75%;
    top: 400px;
    display: none;
}

.productFrame__button {
    background-color: #789e82;
    color: white;
    border: none;
    font-size: 16px;
    display: none;
}

.productFrame {
    text-decoration: none;
    padding: 20px; 
    &:hover {
        transition: .5s ease;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        cursor: pointer;
    }   
    &:hover &__icon{
        display: block;         
    }
    &:hover &__button{
        display: block;         
        &:active {
            background-color: #3e8e41;
            box-shadow: 5px #666;
        }
    }
}