.cartPage {
    padding-bottom: 100px;
    padding-right: 100px;
}

.title{
    font-family: Raleway;
    font-style: normal;
    font-size: 32px;
    font-weight: bold;
    line-height: 40px;
    color: #1D1F22; 
    margin-top: 30px;
    margin-left: 41px; 
}

.cart{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 200px;
    border-top: 1px solid rgb(229, 229, 229, 1);

    &__firstSection {
        display: block;
        margin-top: 15%;

        &__productName {
            font-family: 'Raleway';
            font-weight: 600;
            font-size: 30px;
            line-height: 27px;
        }

        &__productPrice {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 24px; 
            line-height: 28px;
            text-align: left;
            color: #1D1F22;
        }
    }

    &__secondSection {
        padding-left: 300px;
        display: grid;
        grid-template-columns: 1fr 1fr;

        &__buttons {
            text-align: center;
            margin-top: 95%;
            line-height: 60px;
            &__button {
                height: 40px;
                width: 40px;
                border: 1px solid #1D1F22;
            }
        }

        &__container {
            width: 300px;
        }

        &__image {
            display:block;
            position: relative;
            margin-top: 10%;
            margin-left: auto;
            margin-right: auto;
            height: 200px;
            
        }
    }
}