.navBar {
    margin-top: 20px; 
    margin-left: 25px;      
    // list-style-type: none;
    // overflow: hidden;
    
    &__Category {
        font-family: 'Raleway', sans-serif;
        color: rgb(0, 0, 0);
        text-align: left;
        padding: 16px;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
            text-decoration-color: #5ECE7B;
            color: #5ECE7B;
        }
        // &:checked{
        //     text-decoration: underline;
        //     text-decoration-color: #5ECE7B;
        //     color: #c51717;
        // }
    }

    &__icon {
        position: absolute;
        margin-left: 30%;
        color: #5ECE7B;
        font-size: 32px;
        
    }

    &__icon2 {
        position: absolute;
        margin-top: 5px;
        margin-left: 73%;
        color: #000000;
        font-size: 20px;
        &__length{
            position: relative;
            left: 10px;
            bottom: 33px;
            width: 16px;
            line-height: 16px;
            border-radius: 50%;
            text-align: center;
            font-size: 10px;
            background: rgb(0, 0, 0);
            color: rgb(255, 255, 255);
            text-align: center;
            // font: 10px Arial, sans-serif;
        }
    }
}

.productFrame__icon {
    background-color: #5ECE7B;
    color: white;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 5px;
    position: relative;
    left: 75%;
    top: 400px;
    display: none;
}



